# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
flutter_export_environment.sh

# Android
**/local.properties
**/app/build/
**/gradle/
**/.gradle/
**/captures/
*.iml

# iOS/macOS
**/Pods/
**/DerivedData/
**/*.xcworkspace/
**/*.xcuserstate

# Misc
*.log
.DS_Store
